.header {
  width: 100%;
  padding: 16px 0;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background: $secondary;
  transition: box-shadow 0.2s, background 0.2s;

  &.scroll {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  }
}

.container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;

  @include xs {
    display: none;
  }
}

.logo {
  @include square(55);

  @include md {
    @include square(45);
  }

  path {
    fill: $primary;
    transition: fill 0.3s;
  }
  rect {
    stroke: $primary;
    transition: stroke 0.3s;
  }
}

.nav {
  @include flexCenteredVertically;
  @include flexGap(50px);
  margin-right: 140px;
}

.link {
  position: relative;
  color: $primary;
  font-weight: 500;
  text-transform: capitalize;

  transition: color 0.2s;

  &::after {
    content: '';
    width: 0;
    height: 1.5px;
    background-color: rgba($aqua, 0.8);
    position: absolute;
    right: 0;
    bottom: -2px;

    transition: width 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.3), right 0.4s ease-in-out;
  }

  &:hover {
    color: $aqua;
    &::after {
      width: 100%;
      right: initial;
      left: 0;
    }
  }
}

.themeSwitcher {
  @include square(30);
  @include flexCentered;
  background: none;
  transition: transform 0.4s cubic-bezier(0.18, 0.89, 0.32, 3);

  svg {
    @include square(100, '%');
  }

  &:hover {
    transform: scale(1.1);
  }
}

.burgerMenu {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;

  @include sm {
    display: initial;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $primary;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }

  &.close > span {
    &:nth-child(1) {
      top: 9px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 9px;
      width: 0%;
      left: 50%;
    }
  }
}
