.wrapper {
  height: 100vh;
  padding-top: 88px;
  position: relative;
}

.container {
  align-items: center;
  margin-top: 70px;

  @include lg {
    margin-top: 30px;
  }
}

.avatar {
  position: relative;
  @include square(150);
  @include flexCentered;
  border-radius: 50%;
  border: 2px solid $dark;
  background-color: lighten($aqua, 35);

  @include lg {
    @include square(120);
  }
}

.title {
  font-family: $ff-r;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.07em;
  margin-top: 35px;

  @include lg {
    font-size: 30px;
    line-height: 120%;
    margin-top: 25px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  margin-top: 50px;

  @include lg {
    font-size: 64px;
    line-height: 120%;
    margin-top: 30px;
  }

  @include md {
    font-size: 50px;
    line-height: 110%;
  }
}

.circle {
  @include square(90);
  border-radius: 50%;
  border: 3px solid $primary;

  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  @include lg {
    @include square(60);
    bottom: 40px;
    border: 2px solid $primary;
  }
}

@keyframes arrow_anim {
  from {
    top: 45%;
  }
  to {
    top: 60%;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: arrow_anim ease-in-out 1s infinite alternate;

  path {
    fill: $primary;
  }

  @include lg {
    transform: translate(-50%, -50%) scale(0.7);
  }
}