.wrapper {
  height: 100vh;
  padding-top: 88px;
  position: relative;
  overflow: hidden;

  @include sm {
    padding-top: 77px;
  }
}

.container {
  align-items: center;
  margin-top: 70px;

  @include lg {
    margin-top: 30px;
  }
  @include sm {
    margin-top: 40px;
  }
  @include xs {
    margin-top: 70px;
  }
}

.avatarWrapper {
  @include square(150);
  @include lg {
    @include square(120);
  }
  @include sm {
    @include square(150);
  }
  @include xs {
    @include square(100);
  }
}

.avatar {
  position: relative;
  @include square(100, '%');
  @include flexCentered;
  border-radius: 50%;
  border: 2px solid $dark;
  background-color: lighten($aqua, 35);
}

.title {
  font-family: $ff-r;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  letter-spacing: -0.07em;
  margin-top: 35px;
  white-space: nowrap;

  @include lg {
    font-size: 30px;
    line-height: 120%;
    margin-top: 25px;
  }
  @include sm {
    margin-top: 40px;
  }
  @include xs {
    font-size: 18px;
    line-height: 24px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  margin-top: 50px;

  @include lg {
    font-size: 64px;
    line-height: 120%;
    margin-top: 30px;
  }

  @include md {
    font-size: 50px;
    line-height: 110%;
  }

  @include sm {
    margin-top: 60px;
    font-size: 48px;
    line-height: 130%;
  }

  @include xs {
    font-size: 20px;
  }

  @include xss {
    font-size: 18px;
  }
}

.circle {
  @include square(90);
  border-radius: 50%;
  border: 3px solid $primary;

  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  @include lg {
    @include square(60);
    bottom: 40px;
    border: 2px solid $primary;
  }
  @include sm {
    @include square(80);
  }
  @include xs {
    @include square(60);
    bottom: 50px;
  }
}

@keyframes arrow_anim {
  from {
    top: 45%;
  }
  to {
    top: 60%;
  }
}

.arrow {
  width: 28%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: arrow_anim ease-in-out 1s infinite alternate;

  path {
    fill: $primary;
  }
}