$primary: var(--primary);
$secondary: var(--secondary);

$aqua: #60A3BC;
$dark: #1A1C20;
$light: #EEEFF1;

$font-p: 'Poppins';
$font-r: 'Roboto Mono';
$ff-p: $font-p, sans-serif;
$ff-r: $font-r, $font-p, sans-serif;
